.preview-loader {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1a1625;
  z-index: 90;
  gap: 16px;
  overflow: hidden;
}

.preview-spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: relative;
  z-index: 10;
}

.preview-spinner > div {
  background-color: #ffffff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: preview-stretch 1.2s infinite ease-in-out;
  animation: preview-stretch 1.2s infinite ease-in-out;
}

.preview-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  margin: 0px 2px;
}

.preview-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  margin-right: 2px;
}

.preview-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  margin-right: 2px;
}

.preview-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.preview-loader-text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  z-index: 10;
}

@-webkit-keyframes preview-stretch {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes preview-stretch {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
